<h1><%= title(@user) %> </h1>

<%if check_user(@user)%>
<%= form_tag new_user_recipe_path(current_user), :method => :get%>
<%= submit_tag 'New Recipe' %>
<%end%>

<h2>Their Recipes</h2>
<%=render partial: 'recipes/recipes', locals: {recipes: @recipes}  %>
